paho-mqtt==1.6.1
Flask==2.3.3
Flask-MQTT==1.2.1
Flask-SocketIO==5.3.6
gunicorn==22.0.0
eventlet==0.36.1
uvicorn
psycopg2-binary
python-dotenv
pyOpenSSL==23.2.0
cryptography==41.0.4

# AWS IoT SDK para Python
AWSIoTPythonSDK==1.5.2





